@tailwind base;
@tailwind components;
@tailwind utilities;


.header-item {
  display: inline-block;
  position: relative;
  @apply font-extralight uppercase mr-10
}

.header-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon-dot {
  @apply
  inline-block relative rounded-full w-3 h-3 border border-white top-0.5
  after:absolute after:rounded-full after:w-1 after:h-1 after:inset-1/4 after:bg-white
}
